body {
 margin: 0;
 padding: 0;
}

#background
{
  left: 0px;
  top: 0px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1920px;
  height: 4053px;
  overflow: hidden;
  z-index:0;
 }

#Layer1copy
{
  left: 0px;
  top: 0px;
  position: absolute;
  width: 1920px;
  height: 4053px;
  z-index:1;
}

#Linedevider
{
  left: 0px;
  top: 3574px;
  position: absolute;
  width: 1920px;
  height: 1px;
  z-index:2;
}

#Linedevidercopy
{
  left: 0px;
  top: 3336px;
  position: absolute;
  width: 1920px;
  height: 1px;
  z-index:3;
}

#Linedevidercopy2
{
  left: 0px;
  top: 2631px;
  position: absolute;
  width: 1920px;
  height: 1px;
  z-index:4;
}

#Linedevidercopy3
{
  left: 0px;
  top: 1852px;
  position: absolute;
  width: 1920px;
  height: 1px;
  z-index:5;
}

#Linedevidercopy4
{
  left: 0px;
  top: 1328px;
  position: absolute;
  width: 1920px;
  height: 1px;
  z-index:6;
}

#GrayBG
{
  left: 0px;
  top: 3583px;
  position: absolute;
  width: 1920px;
  height: 469px;
  z-index:7;
}

#Q
{
  left: 1110px;
  top: 3583px;
  position: absolute;
  width: 610px;
  height: 418px;
  z-index:8;
}

#bottomstrip
{
  left: 0px;
  top: 4014px;
  position: absolute;
  width: 1920px;
  height: 38px;
  z-index:9;
}

#Socialmediaicons
{
  left: 389px;
  top: 3889px;
  position: absolute;
  width: 263px;
  height: 46px;
  z-index:10;
}

#Logo
{
  left: 389px;
  top: 3630px;
  position: absolute;
  width: 286px;
  height: 72px;
  z-index:11;
}

#buttoncopy
{
  left: 1047px;
  top: 3906px;
  position: absolute;
  width: 93px;
  height: 31px;
  z-index:12;
}

#SENDcopy
{
  left: 1068px;
  top: 3914px;
  position: absolute;
  width: 51px;
  height: 14px;
  z-index:13;
}

#QUICKRX2017COPYRIGHT
{
  left: 389px;
  top: 4027px;
  position: absolute;
  width: 299px;
  height: 14px;
  z-index:14;
}

#CONTACTUS90Broadstre
{
  left: 389px;
  top: 3755px;
  position: absolute;
  width: 215px;
  height: 103px;
  z-index:15;
}

#ABOUTUSOURSPECIALTIE
{
  left: 769px;
  top: 3648px;
  position: absolute;
  width: 121px;
  height: 119px;
  z-index:16;
}

#RegisterforourNewsle
{
  left: 773px;
  top: 3840px;
  position: absolute;
  width: 336px;
  height: 52px;
  z-index:17;
}

#Layer2
{
  left: 771px;
  top: 3906px;
  position: absolute;
  width: 264px;
  height: 29px;
  z-index:18;
}

#Email
{
  left: 782px;
  top: 3914px;
  position: absolute;
  width: 39px;
  height: 13px;
  z-index:19;
}

#Logosbanner
{
  left: 214px;
  top: 3429px;
  position: absolute;
  width: 1495px;
  height: 83px;
  z-index:20;
}

#Tweetericon
{
  left: 1438px;
  top: 3216px;
  position: absolute;
  width: 51px;
  height: 51px;
  z-index:21;
}

#FBicon
{
  left: 1496px;
  top: 3216px;
  position: absolute;
  width: 51px;
  height: 51px;
  z-index:22;
}

#UtubeIcon
{
  left: 1554px;
  top: 3216px;
  position: absolute;
  width: 50px;
  height: 51px;
  z-index:23;
}

#inIcon
{
  left: 1611px;
  top: 3216px;
  position: absolute;
  width: 51px;
  height: 51px;
  z-index:24;
}

#Gicon
{
  left: 1669px;
  top: 3216px;
  position: absolute;
  width: 50px;
  height: 51px;
  z-index:25;
}

#contactpic
{
  left: -1px;
  top: 2640px;
  position: absolute;
  width: 960px;
  height: 688px;
  z-index:26;
}

#Fieldframe
{
  left: 1009px;
  top: 2791px;
  position: absolute;
  width: 339px;
  height: 31px;
  z-index:27;
}

#Fieldframecopy
{
  left: 1009px;
  top: 2830px;
  position: absolute;
  width: 339px;
  height: 31px;
  z-index:28;
}

#Fieldframecopy2
{
  left: 1009px;
  top: 2869px;
  position: absolute;
  width: 339px;
  height: 31px;
  z-index:29;
}

#Fieldframecopy3
{
  left: 1009px;
  top: 2908px;
  position: absolute;
  width: 339px;
  height: 31px;
  z-index:30;
}

#Fieldframecopy4
{
  left: 1009px;
  top: 2948px;
  position: absolute;
  width: 339px;
  height: 31px;
  z-index:31;
}

#Fieldframecopy5
{
  left: 1009px;
  top: 2987px;
  position: absolute;
  width: 339px;
  height: 31px;
  z-index:32;
}

#Fieldframecopy6
{
  left: 1009px;
  top: 3026px;
  position: absolute;
  width: 339px;
  height: 31px;
  z-index:33;
}

#Fieldframecopy7
{
  left: 1009px;
  top: 3065px;
  position: absolute;
  width: 339px;
  height: 31px;
  z-index:34;
}

#Messageframe
{
  left: 1009px;
  top: 3112px;
  position: absolute;
  width: 339px;
  height: 159px;
  z-index:35;
}

#CONTACTUS
{
  left: 1009px;
  top: 2683px;
  position: absolute;
  width: 226px;
  height: 27px;
  z-index:36;
}

#Formoreinformationpl
{
  left: 1010px;
  top: 2730px;
  position: absolute;
  width: 378px;
  height: 38px;
  z-index:37;
}

#FirstName
{
  left: 1020px;
  top: 2800px;
  position: absolute;
  width: 99px;
  height: 13px;
  z-index:38;
}

#Surame
{
  left: 1019px;
  top: 2838px;
  position: absolute;
  width: 75px;
  height: 13px;
  z-index:39;
}

#Address
{
  left: 1019px;
  top: 2877px;
  position: absolute;
  width: 78px;
  height: 13px;
  z-index:40;
}

#City
{
  left: 1019px;
  top: 2916px;
  position: absolute;
  width: 43px;
  height: 17px;
  z-index:41;
}

#State
{
  left: 1019px;
  top: 2956px;
  position: absolute;
  width: 54px;
  height: 13px;
  z-index:42;
}

#ZipCode
{
  left: 1019px;
  top: 2995px;
  position: absolute;
  width: 83px;
  height: 17px;
  z-index:43;
}

#Phone
{
  left: 1020px;
  top: 3034px;
  position: absolute;
  width: 63px;
  height: 13px;
  z-index:44;
}

#Email_0
{
  left: 1020px;
  top: 3073px;
  position: absolute;
  width: 56px;
  height: 13px;
  z-index:45;
}

#Message
{
  left: 1020px;
  top: 3123px;
  position: absolute;
  width: 68px;
  height: 16px;
  z-index:46;
}

#button
{
  left: 1010px;
  top: 3289px;
  position: absolute;
  width: 93px;
  height: 31px;
  z-index:47;
}

#SEND
{
  left: 1031px;
  top: 3297px;
  position: absolute;
  width: 51px;
  height: 14px;
  z-index:48;
}

#QuickRXHeadquater90B
{
  left: 1438px;
  top: 2789px;
  position: absolute;
  width: 258px;
  height: 114px;
  z-index:49;
}

#BlueBG
{
  left: 0px;
  top: 1862px;
  position: absolute;
  width: 1920px;
  height: 761px;
  z-index:50;
}

#Servicespic
{
  left: 962px;
  top: 1863px;
  position: absolute;
  width: 958px;
  height: 761px;
  z-index:51;
}

#Thepharmacyindustryi
{
  left: 332px;
  top: 1970px;
  position: absolute;
  width: 563px;
  height: 595px;
  z-index:52;
}

#SERVICES
{
  left: 336px;
  top: 1915px;
  position: absolute;
  width: 160px;
  height: 27px;
  z-index:53;
}

#AboutQ
{
  left: 0px;
  top: 1339px;
  position: absolute;
  width: 963px;
  height: 504px;
  z-index:54;
}

#ABOUTUS
{
  left: 1006px;
  top: 1395px;
  position: absolute;
  width: 183px;
  height: 27px;
  z-index:55;
}

#QuickRXisNewYorkCity
{
  left: 1005px;
  top: 1447px;
  position: absolute;
  width: 541px;
  height: 356px;
  z-index:56;
}

#BlueBG_0
{
  left: 0px;
  top: 902px;
  position: absolute;
  width: 1920px;
  height: 416px;
  z-index:57;
}

#redcircle
{
  left: 399px;
  top: 1011px;
  position: absolute;
  width: 178px;
  height: 178px;
  z-index:58;
}

#redcirclecopy3
{
  left: 710px;
  top: 1011px;
  position: absolute;
  width: 178px;
  height: 178px;
  z-index:59;
}

#redcirclecopy
{
  left: 1026px;
  top: 1011px;
  position: absolute;
  width: 178px;
  height: 178px;
  z-index:60;
}

#redcirclecopy2
{
  left: 1352px;
  top: 1011px;
  position: absolute;
  width: 178px;
  height: 178px;
  z-index:61;
}

#Whirecircleover
{
  left: 399px;
  top: 1011px;
  position: absolute;
  width: 178px;
  height: 178px;
  z-index:62;
}

#Whcirclecopy2over
{
  left: 710px;
  top: 1011px;
  position: absolute;
  width: 178px;
  height: 178px;
  z-index:63;
}

#whitecirclecopy3over
{
  left: 1026px;
  top: 1011px;
  position: absolute;
  width: 178px;
  height: 178px;
  z-index:64;
}

#Whitecirclecopy4over
{
  left: 1352px;
  top: 1011px;
  position: absolute;
  width: 178px;
  height: 178px;
  z-index:65;
}

#Specialtyicon
{
  left: 428px;
  top: 1056px;
  position: absolute;
  width: 116px;
  height: 115px;
  z-index:66;
}

#priorAicon
{
  left: 765px;
  top: 1050px;
  position: absolute;
  width: 68px;
  height: 99px;
  z-index:67;
}

#financeicon
{
  left: 1087px;
  top: 1050px;
  position: absolute;
  width: 57px;
  height: 93px;
  z-index:68;
}

#eduicon
{
  left: 1388px;
  top: 1060px;
  position: absolute;
  width: 107px;
  height: 74px;
  z-index:69;
}

#SPECIALTIES
{
  left: 422px;
  top: 1220px;
  position: absolute;
  width: 130px;
  height: 17px;
  z-index:70;
}

#PRIORAUTHORIZATION
{
  left: 705px;
  top: 1220px;
  position: absolute;
  width: 181px;
  height: 44px;
  z-index:71;
}

#FINANCIALASSISTANCE
{
  left: 1044px;
  top: 1220px;
  position: absolute;
  width: 130px;
  height: 44px;
  z-index:72;
}

#EDUCATION
{
  left: 1377px;
  top: 1220px;
  position: absolute;
  width: 127px;
  height: 17px;
  z-index:73;
}

#SPECIALTIESover
{
  left: 418px;
  top: 1220px;
  position: absolute;
  width: 137px;
  height: 17px;
  z-index:74;
}

#Specialtyiconover
{
  left: 428px;
  top: 1057px;
  position: absolute;
  width: 116px;
  height: 115px;
  z-index:75;
}

#priorAiconover
{
  left: 765px;
  top: 1051px;
  position: absolute;
  width: 68px;
  height: 99px;
  z-index:76;
}

#financeiconover
{
  left: 1087px;
  top: 1051px;
  position: absolute;
  width: 57px;
  height: 93px;
  z-index:77;
}

#eduiconover
{
  left: 1388px;
  top: 1061px;
  position: absolute;
  width: 107px;
  height: 74px;
  z-index:78;
}

#OURBENFITS
{
  left: 859px;
  top: 943px;
  position: absolute;
  width: 215px;
  height: 25px;
  z-index:79;
}

#MainBanner1
{
  left: 0px;
  top: 178px;
  position: absolute;
  width: 1920px;
  height: 714px;
  z-index:80;
}

#MainBanner2
{
  left: 0px;
  top: 175px;
  position: absolute;
  width: 1920px;
  height: 718px;
  z-index:81;
}

#mainbanner3
{
  left: 0px;
  top: 176px;
  position: absolute;
  width: 1920px;
  height: 718px;
  z-index:82;
}

#Q_0
{
  left: -233px;
  top: 177px;
  position: absolute;
  width: 948px;
  height: 717px;
  z-index:83;
}

#trasparenttextBG
{
  left: 494px;
  top: 463px;
  position: absolute;
  width: 800px;
  height: 109px;
  z-index:84;
}

#SPENDTIMEWITHYOURLOV
{
  left: 519px;
  top: 484px;
  position: absolute;
  width: 665px;
  height: 26px;
  z-index:85;
}

#INSTEADOFRUNNINGAFTE
{
  left: 518px;
  top: 529px;
  position: absolute;
  width: 760px;
  height: 26px;
  z-index:86;
}

#TopwhiteBG
{
  left: 0px;
  top: -1px;
  position: absolute;
  width: 1920px;
  height: 173px;
  z-index:87;
}

#bluestrip
{
  left: -1px;
  top: 172px;
  position: absolute;
  width: 1921px;
  height: 6px;
  z-index:88;
}

#Logo_0
{
  left: 48px;
  top: 51px;
  position: absolute;
  width: 417px;
  height: 106px;
  z-index:89;
}

#ABOUTUSOURSPECIALTI
{
  left: 533px;
  top: 119px;
  position: absolute;
  width: 1342px;
  height: 21px;
  z-index:90;
}

#redstripover
{
  left: 533px;
  top: 104px;
  position: absolute;
  width: 155px;
  height: 4px;
  z-index:91;
}

#redtoptub
{
  left: 1294px;
  top: 0px;
  position: absolute;
  width: 206px;
  height: 45px;
  z-index:92;
}

#redtoptubcopy
{
  left: 1504px;
  top: 0px;
  position: absolute;
  width: 251px;
  height: 45px;
  z-index:93;
}

#redtoptubcopy2
{
  left: 1759px;
  top: 0px;
  position: absolute;
  width: 156px;
  height: 45px;
  z-index:94;
}

#ProviderLogin
{
  left: 1316px;
  top: 11px;
  position: absolute;
  width: 165px;
  height: 25px;
  z-index:95;
}

#EnrollmentForms
{
  left: 1529px;
  top: 11px;
  position: absolute;
  width: 206px;
  height: 19px;
  z-index:96;
}

#ContactUs
{
  left: 1774px;
  top: 12px;
  position: absolute;
  width: 125px;
  height: 18px;
  z-index:97;
}
