.site-header #hs_menu_wrapper_module_13979208199282446.hs-menu-flow-horizontal > ul > li > a::before {
  font-family:"av-icon-font" !important;
}

@media only screen and (min-width:320px) {
  body {
    overflow-x: hidden;
  }
}

@media only screen and (max-width:768px) {
  body {
    overflow-x: hidden;
  }

  .career-img-container .col-xs-6 {
    width:100%;
  }

  .equalize-section .career-img-container .widget-span .career-img img {
    max-width:280px !important;
    margin:0 0 20px;
    min-width:auto !important;
    height: auto !important;
    max-height: none !important;
    min-height: 0 !important;
  }
}

@media (max-width:480px) {
  .equalize-section .career-img-container .widget-span .career-img img {
    max-width:280px !important;
    margin:0 0 20px;
    min-width:auto !important;
  }
}

.image-logo-header-new {
  width: 155px;
  border-width: 0px;
  border:0px;
}

#main-vid {
  object-fit: initial;
  width: 100% !important;
  height: 600px !important;
}

.main-vid-overlay {
  position: absolute;
  top: 8%;
  color: #FFF;
  text-align: center;
  padding: 10px 0;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  width: 100%
}

.blur {
  background-image: asset-data-url( "blur.jpg" );
  /* All the background image supports */
  transform: translate(0px, 0px, 0px);
  background-image: -webkit-linear-gradient(bottom left, rgba(43, 40, 50, 0.8) 0%, rgba(83, 86, 99, 0.8) 45%, rgba(69, 77, 91, 0.6) 60%);
  background-image: -moz-linear-gradient(bottom left, rgba(43, 40, 50, 0.8) 0%, rgba(83, 86, 99, 0.8) 45%, rgba(69, 77, 91, 0.6) 60%);
  background-image: -o-linear-gradient(bottom left, rgba(43, 40, 50, 0.8) 0%, rgba(83, 86, 99, 0.8) 45%, rgba(69, 77, 91, 0.6) 60%);
  background-image: linear-gradient(to top right, rgba(43, 40, 50, 0.8) 0%, rgba(83, 86, 99, 0.8) 45%, rgba(69, 77, 91, 0.6) 60%);
  position: absolute;
  width: 100%;
  height: 100%;

  /* blur filters */
  -webkit-filter: blur(20px);
  -o-filter: blur(20px);
  filter: blur(20px);

  /* positioning and removing edges */
  top: -70px;
  right: -70px;
  left: -70px;
  padding: 70px;
}

.blur:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1001;

  /* Setting the gradient. Adds depth, and glass like effect. */
  background-image: -webkit-linear-gradient(289deg, rgba(43,40,50,0.8) 0%, rgba(43,40,50,0.4) 46%, rgba(0,0,0,0.05) 50%);
  background-image: -moz-linear-gradient(289deg, rgba(43,40,50,0.8) 0%, rgba(43,40,50,0.4) 46%, rgba(0,0,0,0.05) 50%);
  background-image: -o-linear-gradient(289deg, rgba(43,40,50,0.8) 0%, rgba(43,40,50,0.4) 46%, rgba(0,0,0,0.05) 50%);
  background-image: linear-gradient(-19deg, rgba(43,40,50,0.8) 0%, rgba(43,40,50,0.4) 46%, rgba(0,0,0,0.05) 50%);

  /* Blur to add depth. High to create smooth transition */
  -webkit-filter: blur(70px);
  -o-filter: blur(70px);
  filter: blur(70px);
}

.service-preview .row {
  float: none !important;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}
