p,
ul {
    margin: 0
}

.top_nav,
ul {
    list-style: none
}

body {
    font-size: 12px;
    line-height: 16px;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden
}

h1,
h2 {
    color: #fff
}

h1 {
    font-size: 26px
}

.container-fluid,
.row {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0
}

.section {
    padding: 5px 0;
    border-bottom: 1px solid #174887
}

.section-footer {
    padding: 5px 0 0
}

.pdt-5 {
    padding-top: 5px
}

.pdt-10 {
    padding-top: 10px
}

.pdt-20 {
    padding-top: 20px
}

ul {
    padding: 0
}

.form-group {
    margin-bottom: 5px!important
}

.form-inline {
    margin-top: 10px
}

.form-control {
    height: 25px!important;
    font-size: 12px!important;
    background-color: #c8c8c8!important;
    border-radius: 0;
    padding: 0 10px!important
}

.btn-default {
    padding: 2px 15px;
    border: 0;
    color: #fff;
    font-weight: 500;
    border-radius: 0;
    background: #ad1038;
    background: -webkit-radial-gradient(#f43967, #ad1038);
    background: -o-radial-gradient(#f43967, #ad1038);
    background: -moz-radial-gradient(#f43967, #ad1038);
    background: radial-gradient(#f43967, #ad1038)
}

.btn-default:hover {
    color: #c8c8c8;
    transition: all .3s ease-in
}

.btnsubmit {
    margin-left: 5px
}

a[class*=social-icon-] {
    display: inline-block;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    padding-top: 7px;
    text-align: center;
    margin: 2px
}

.logo_img {
    height: 75px
}

.top_nav {
    margin: 6px 0 0;
    padding: 0;
    float: right
}

.top_nav li>a {
    background: #ed1c4f;
    color: #fff;
    padding: 4px 15px 5px;
    font-size: 17px
}

.top_nav li>a:hover {
    background: #bd103c;
    color: #fff;
    transition: all .3s ease-in;
    text-decoration: none
}

.top_nav li {
    display: inline-block
}

.navbar-default {
    background: 0 0;
    box-shadow: none;
    border: none;
    margin-bottom: 0;
    border-bottom: 1px solid transparent;
    transition: all .3s ease-in
}

#nav {
    margin-top: 32px
}

.navbar-brand {
    height: auto!important
}

.navbar-default .navbar-nav>.active>a {
    background: 0 0;
    box-shadow: none;
    color: #000
}

.navbar-default .navbar-nav>.active>a:before {
    width: 100%;
    background: #ed1c4f
}

.navbar-default li>a {
    padding: 10px 27px
}

.navbar-default .navbar-nav>li>a {
    text-shadow: none;
    font-size: 19px;
    text-transform: uppercase;
    color: #000;
    letter-spacing: .36px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    font-family: Montserrat, sans-serif;
    transition: all .3s ease-in
}

.navbar-default .navbar-nav>li>a:before {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    margin-bottom: 5px;
    background: 0 0;
    transition: width .5s ease, background-color .5s ease
}

.navbar-default .navbar-nav>li>a:hover:before {
    width: 100%;
    background: #ed1c4f
}

.navbar-default .navbar-nav>li>a:hover {
    background: 0 0!important;
    color: #174887
}

#banner,
#footer {
    background-position: right
}

.navbar-default .navbar-brand {
    padding: 8px 15px;
    margin-left: 15px!important
}

.navbar-default.fixed-menu {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid transparent
}

.active {
    font-weight: bolder
}

#footer {
    background-image: asset-data-url('footer.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 40px 0
}

#banner {
    background-image: asset-data-url('banner.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-top: 5px solid #005aab
}

.top_Q {
    height: 500px;
    float: left
}

.heading_block {
    position: absolute;
    color: #fff;
    background: rgba(0, 0, 0, .4);
    padding: 10px;
    margin-top: 200px
}

.heading_block h1 {
    padding: 0;
    margin: 0
}

.heading_block h1:first-child {
    font-weight: bolder;
    font-size: 26px
}

#icon-banner {
    background: #112550;
    padding: 30px 0
}

.custom-icons {
    background: #ad1038;
    background: -webkit-radial-gradient(#f43967, #ad1038);
    background: -o-radial-gradient(#f43967, #ad1038);
    background: -moz-radial-gradient(#f43967, #ad1038);
    background: radial-gradient(#f43967, #ad1038);
    border-radius: 50%;
    text-align: center;
    padding: 25px;
    height: 125px;
    width: 125px;
    display: inline-block
}

.first-child {
    padding: 30px 20px 0!important
}

.icon {
    height: 70px
}

.first-icon {
    height: 80px!important
}

.benefits h1 {
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 1px
}

.benefits h2 {
    font-size: 16px
}

.about_h1 {
    color: #ed145b;
    padding-top: 10px
}

.about_text {
    padding-left: 30px;
    padding-right: 15px
}

#services {
    background: #112550;
    color: #fff
}

.services_text {
    padding-right: 40px;
    padding-left: 10px
}

.partners {
    padding: 40px 0
}

.logo-item {
    float: none!important;
    display: inline-block;
    margin: 0 5px
}

.logo-item img {
    height: 60px;
    width: auto
}

.social-icon-inverse {
    background: #5f5f5f;
    color: #fff
}

.social-icon-inverse i {
    font-size: 20px
}

#footer p,
#footer ul a {
    font-size: 11px
}

.form-social {
    margin-top: 200px
}

.contact_h1 {
    color: #174887
}

#form-box {
    padding-left: 30px!important
}

#form-text {
    height: auto!important;
    width: 100%;
    resize: none;
    padding: 5px 0 5px 10px!important;
    border: 1px solid #b0b0b0;
    background-color: transparent!important
}

#contact_form input {
    background: 0 0!important;
    height: 25px!important;
    border: 1px solid #b0b0b0
}

#contact_form input:focus,
#form-text:focus {
    border: 1px solid #ed145b;
    transition: all .3s ease-in
}

#contact_form {
    width: 75%
}

.address_heading {
    color: #bd103c;
    font-weight: 700;
    margin: 45px 0 3px
}

.form_subhead {
    margin: 0 0 15px;
    width: 90%
}

#map,
#map_overlay {
    width: 100%;
    height: 100%;
    max-height: 480px;
    min-height: 480px
}

#footer ul a {
    color: #000;
    text-decoration: none
}

#footer ul li {
    margin: 2px 0
}

#footer ul a:hover {
    color: #fff;
    transition: all .3s ease-in
}

.contact_info {
    color: #fff;
    margin-top: 40px;
    margin-bottom: 20px
}

.social-icon-straight {
    background: #c8c8c8;
    color: #787878
}

.social-icon-inverse i,
.social-icon-straight i {
    font-size: 20px
}

.social-icon-inverse:hover,
.social-icon-straight:hover {
    background-color: #ed145b;
    color: #fff;
    transition: all .3s ease-in
}

.newsletter {
    margin-top: 50px;
    color: #000
}

#copyright {
    background: #5d5d5d;
    color: #fff;
    padding: 5px 0;
    font-size: 10px
}

#copyright p {
    margin-left: 60px
}

#map {
    float: left;
    pointer-events: auto;
    touch-action: auto
}

#map_overlay {
    position: absolute;
    min-width: 100%;
    pointer-events: none;
    touch-action: none;
    background: asset-data-url('map_overlay.png') center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

@media only screen and (max-width:980px) {
    #contact_form,
    .form_subhead {
        width: 100%
    }
    .small-gaps {
        padding: 30px 0!important
    }
    .form-social {
        margin-top: 30px
    }
    #contact {
        text-align: center
    }
    #form-box {
        padding: 30px!important;
        clear: both
    }
    .navbar-header {
        margin: 0!important
    }
}

@media only screen and (max-width:768px) {
    #copyright p,
    #footer {
        text-align: center
    }
    .logo_img {
        height: 45px
    }
    .heading_block {
        right: 10px
    }
    #subscription {
        display: inline-block
    }
    #footer ul,
    .newsletter {
        margin-top: 15px
    }
    #copyright p {
        margin-left: 0
    }
    .navbar-default .navbar-nav>li>a:hover:before {
        width: 40%
    }
    #map,
    #map_overlay {
        min-height: 350px;
        max-height: 350px
    }
}

@media only screen and (max-width:640px) {
    .top_Q {
        height: 300px;
        float: left
    }
    .heading_block {
        position: relative;
        color: #fff;
        background: rgba(0, 0, 0, .4);
        padding: 10px;
        margin-top: 0;
        display: block;
        float: left;
        right: 0
    }
    .heading_block h1 {
        font-size: 18px
    }
    .heading_block h1:first-child {
        font-size: 16px
    }
}

@media only screen and (max-width:980px) and (min-width:769px) {
    #nav {
        margin-top: 5px
    }
    .navbar-default .navbar-nav>li>a {
        font-size: 12px
    }
    .navbar-default li>a {
        padding: 5px 10px
    }
    .logo_img {
        height: 45px
    }
}

@media only screen and (max-width:1170px) and (min-width:981px) {
    .navbar-default .navbar-nav>li>a {
        font-size: 14px
    }
    .navbar-default li>a {
        padding: 5px 10px
    }
}

@media only screen and (max-width:1300px) and (min-width:1171px) {
    .navbar-default .navbar-nav>li>a {
        font-size: 15px
    }
    .navbar-default li>a {
        padding: 5px 20px
    }
}
